$bodyColor: #10121B;
$textColor: #fff;
$sidebarColor:#040507;
$orange: #EB752B;

body {
  background-color: $bodyColor;
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
.sidebar{
  position: fixed;
  padding-left: 20px;
  background-color: $sidebarColor;
  display: inline-block;
}
.article{
  padding-left: 29%;
  background-color: #fff;
  color: $sidebarColor;
  width: auto;
  &-pos{
    background-color: #F2F2F2;
    display: flex;
    &__icons{
      padding-left: 35px;
      padding-top: 30px;
      padding-right: 75px;
      text-align: center;
      &-rec{
        border: 2px solid #DFE1E8;
        font-size: 15px;
        cursor: pointer;
        padding: 5px;
        border-radius: 10px;
      }
      &-like{
        display: block;
        cursor: pointer;
        margin: 0 auto;
        &-count{
          margin-top: 10px;
          margin-bottom: 10px;
          color: #00C491;
          font-weight: 600;
          font-size: 15px;
        }
      }
      &-comments{
        align-items: center;
        text-align: center;
        display: block !important;
        border: 2px solid #DFE1E8;
        font-size: 15px;
        display: flex;
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom:15px;
        &-count{
          align-items: center;
          text-align: center;
          display: block;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
          color: #EB752B;
          padding-left: 2px;
        }
      }
    }
    &__content{
      &-head{
        padding-top: 30px;
        &-cat{
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
        }
        &-date{
          font-weight: normal;
          font-size: 16px;
          color: #484A50;
        }
      }
      &-title{
        font-weight: 500;
        font-size: 40px;
        width: 100%;
      }
      &-img{
        border-radius: 5px;
        width: 800px;
        height: 520px;
        padding-top: 10px;
        padding-bottom: 20px;
      }
      &-user{
        display: flex;
        padding-bottom: 30px;
        &-avatar{
          width: 48px;
          height: 48px;
          border-radius: 30px;
          cursor: pointer;
        }
        &-count{
          font-size: 14px;
          background: #00C491;
          border-radius: 30px;
          color: #F2F2F2;
          height: fit-content;
          margin: 5px;
          padding: 3px;
        }
        &-cont{  
          padding-left: 10px;
          padding-right: 10px;
          &-name{
            display: block;
            font-weight: 500;
            font-size: 20px;
            cursor: pointer;
          }
          &-count{
            font-size: 14px;
            color: #3C3E47;
          }
        }
      }
      &-text{
        font-weight: normal;
        font-size: 22px;
        color: #3C3E47;
        font-size: 20px;
        width: 91%;
      }
      &-tags{
        padding-bottom: 30px;
        &-item{
          padding-left: 5px;
          font-weight: normal;
          font-size: 16px;
          color: $orange;
          cursor: pointer;
        }
      }
      &-userprof{
        margin-bottom: 50px;
        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        width: 55%;
        &-cont{
          padding-right: 30%;
        }
      }
    }
  }
}
.home{
  display: block;
  position: relative;
  padding-left: 30%;
  &-grid{
    display: flex;
    padding-bottom: 60px;
  }
}
.logo{
  padding-top: 38px;
  display: flex;
  align-items: center;
  &__text{
    padding-left: 50px;
    font-size: 30px;  
    text-transform: uppercase;
  }
  &__img{
    padding-left: 20px;
    padding-right: 40px;
    width: 67px;
    height: 68px;
    left: 254px;
    top: 38px;
  }
}
.search{
  cursor: pointer;
  padding-top: 20px;
  align-items:center;
  &__icon{
    font-size: 20px;
  }
  &__text{
    color: #646464;
    font-size: 20px;
    padding-left: 10px;
  }
}
.select{
  padding-top: 25px;
  text-decoration: none;
  select{
    cursor: pointer;
    background-color: $sidebarColor;
    color: $orange;
    border: 1.5px solid #191D24;
    border-radius: 8px;
    padding: 11px 110px 11px 5px;
    font-size: 18px;
  }
  .select:after {
    color: $orange;
  }
 
}
.menu{
  padding-top: 25px;
  &__item{
    cursor: pointer;
    padding-bottom: 10px;
    display: flex;
    align-items:center;
    &-text{
      padding-left: 12px;
      padding-right: 36px;
      width: 114px;
    }
    &-count{
      font-weight: bold;
      font-size: 13px;
      color: $orange;
      background-color: #191D24;
      padding: 6px;
      border-radius: 4px;
    }
  }
  
}
.answer{
  padding-top: 15px;
  padding-left: 35px;
  cursor: pointer;
}
.person{
  align-items:center;
  display: flex;
  padding-top: 75px;
  &__avatar{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 35px;
  }
  &__info{
    display: block;
    padding-left: 20px;
    padding-right: 40px;
  }
  &__name{
    display: block;
    font-size: 18px;
    cursor: pointer;
  }
  &__exit{
    color: $orange;
    font-size: 14px;
    cursor: pointer;
  }
  &__notifications{
    cursor: pointer;
    border: 1.5px solid #191D24;
    border-radius: 6px;
    padding: 10px;
  }
}
.add-ad{
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: $orange;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  width: 64%;
  padding: 9px;
  &__text{
    cursor: pointer;
    color: #10121B;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}
.comicsListItem{
  margin-right: 10px;
  width: 220px;
  background-color: #fff;
  color: black;
  border-radius: 6px;
  &__text{
    width:200px;
    font-size: 13px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  &__title{
    font-weight: 500;
    font-size: 20px;
    padding:5px;
  }
  &__btn{
    border: 1.5px solid #EB752B;
    color: $orange;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding:8px;
    margin: 5px;
  }
  &__category{
    display:flex;
    padding-left: 10px;
    &-tag{
      font-size: 13px;
      padding: 2px;
      font-weight: 500;
    }
    }
  &__cover{
    position: relative;
    &-cat{
      position: absolute;
      top: 165px;
      left: 15px;
      color:#fff;
      font-weight: 600;
      font-size:15px;
    }
    &-rating{
      position: absolute;
      top: 180px;
      right: 45px;
      color:$orange;
      font-weight: 600;
      font-size:15px;
    }
    &-img{
      border-radius:16px;
      width: 200px;
      height: 200px;
      padding:10px;
    }
    
  }
}
.comicsList{
  display: flex;
}
.category{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  .all-items{
    padding-top: 22px;
    padding-right: 40px;
    color: $orange;
    cursor: pointer;
  }
}
.category-list-item{
  padding-left: 12px;
  position: relative;
  &__back{
    width: 169px;
    height: 169px;
    border-radius: 6px;
    cursor: pointer;
  }
  &__types{
    position: absolute;
    top: 72%;
    left: 10%;
    background-color: rgba(0,0,0, 0.6);
    padding: 2px;
    border-radius: 8px;
    font-weight: 500;
  }
}
.category-list{
  display: flex;
}
.publish-list{
  display: flex;
}
.publish-list-item{
  
  position: relative;
  padding-left: 12px;
  &__img{
    cursor: pointer;
    width: 212px;
    height: 220px;
    border-radius: 4px;
  }
  &__publish{
    position: absolute;
    display: block;
    bottom: 3%;
    left: 10%;
    font-size: 18px;
    background-color: rgba(0,0,0, 0.6);
    padding: 2px;
    border-radius: 8px;
  }
  &__data{
    display: flex;
    position: absolute;
    bottom: 7%;
    left: 10%;
    &-update{
      background-color: #000000;
      padding: 3px;
      border-radius: 4px;
    }
    &-date{
      background: #FFFFFF;
      color: #10121B;
      padding: 3px;
      border-radius: 4px;
      font-size: 10px;
    }
  }
}
.article-list{
  &-btn{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
  padding-top: 65px;
  padding-bottom: 30px;
  padding-right: 15px;
  /*ArticleListItem*/
  &-item{
    background-color: #fff;
    width: max-content;
    color: #10121B;
    display: flex;
    border-radius:8px;
    margin-top: 25px;
    &__img{
      cursor: pointer;
      width: 200px;
      height: 150px;
      margin: 15px;
      border-radius: 8px;
    }
    &__content{
      &-footer{
        display: flex;
        justify-content: space-between;
        &-comments{
          align-items:center;
          &-icon{
            font-size:13px;
          }
          &-count{
            color: $orange;
            font-size: 13px;
          }
        }
        &-likes{
          align-items: center;
          margin-right: 10px;
          &-count{
            padding-left:10px;
            padding-right:10px;
            font-weight: 500;
            font-size: 13px;
            color: #00C491;
          }
          &-like{
            font-size: 13px;
            cursor: pointer;
          } 
        }
      }
      &-head{
        padding-top: 15px;
        padding-bottom: 10px;
        &-cat{
          font-weight: 600;
          font-size: 15px;
        }
        &-author{
          font-weight: normal;
          font-size: 15px;
        }
        &-date{
          font-weight: normal;
          font-size: 15px;
          color: #484A50;
        }
      }
      &-title{
        font-weight: normal;
        font-size: 15px;
        color: #10121B;
        width: 275px;
      }
      
      &-tags{
        padding-bottom: 20px;
        padding-top: 20px;
        &-item{
          cursor: pointer;
          padding-left:10px;
          font-weight: normal;
          font-size: 12px;
        }
      }
    }
  }
  /*ArticleListMain*/
  &-main{
    background-color: #fff;
    color: #10121B;
    display: flex;
    border-radius:8px;
    &__img{
      width: 390px;
      height: 340px;
      margin: 15px;
      border-radius: 8px;
    }
    &__content{
      &-head{
        padding-top: 15px;
        padding-bottom: 10px;
        &-cat{
          font-weight: 600;
          font-size: 15px;
        }
        &-author{
          font-weight: normal;
          font-size: 15px;
        }
        &-date{
          font-weight: normal;
          font-size: 15px;
          color: #484A50;
        }
      }
      &-title{
        font-weight: normal;
        font-size: 25px;
        color: #10121B;
        width:500px;
      }
      &-text{
        padding-top: 10px;
        padding-bottom: 5px;
        width: 495px;
        font-weight: normal;
        font-size: 17px;
        color: #444750;
      }
      &-tags{
        padding-bottom: 20px;
        &-item{
          cursor: pointer;
          padding-left:10px;
          font-weight: normal;
          font-size: 15px;
        }
      }
      &-footer{
        display: flex;
        justify-content: space-between;
        &-btn{
          margin-bottom: 20px;
        }
        &-likes{
          align-items: center;
          margin-right: 10px;
          margin-top: 15px;
          &-count{
            padding-left:14px;
            padding-right:14px;
            font-weight: 500;
            font-size: 14px;
            color: #00C491;
          }
          &-like{
            font-size: 14px;
            cursor: pointer;
          } 
        }
      }
    }
  }
}
.btn-component{
  color: $orange;
  font-weight: 500;
  font-size: 16px;
  border: 1.5px solid #EB752B;
  border-radius: 12px;
  cursor: pointer;
  padding:15px;
  align-items: center;
  width: 200px;
  &-icon{
    font-size: 16px;
    padding-right: 5px;
  }
}
.announce{
  padding-right: 20px;
  background: #F2F2F2;
  border-radius: 6px;
  color: #10121B;
  &__head{
    padding-top:15px;
    &-title{
      padding-left: 15px;
      padding-right: 90px;
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
    }
  }
  &-list{
    padding-top: 15px;
   
    &-item{
      display: flex;
      padding-left: 15px;
      margin-bottom: 15px;
      &__avatar{
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }
      &__content{
        padding-left: 12px;
        &-title{
          font-weight: normal;
          font-size: 17px;  
          cursor: pointer;
        }
        &-text{
          font-size: 15px;
          width: 300px;
          color: #3C3E47;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        &-date{
          font-weight: 500;
          font-size: 12px;
          line-height: 12px;
          color: $orange;
          
        }
      }
  }
  }
  
}
.all{
  cursor: pointer;
  color: $orange;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.question{
  background: #F2F2F2;
  border-radius: 6px;
  color: #10121B;
  margin-left: 10px;
  &__head{
    padding-top:15px;
    &-title{
      font-weight: 500;
      font-size: 20px;
      line-height: 20px;
      padding-left: 15px;
      padding-right: 90px;
    }
    &-all{
      padding-right: 25px;
    }
  }
  &-list{
    &-item{
      padding-left: 15px;
      padding-top: 15px;
      &__title{
        font-weight: normal;
        font-size: 17px;
      }
      &__answer{
        padding-top: 8px;
        display: flex;
        &-count{
          font-weight: normal;
          font-size: 14px;
          color: #3C3E47
        }
        &-answered{
          padding-left: 10px;
          align-items: center;
          cursor: pointer;
          &-add{
            color: $orange;
            font-weight: 500;
            font-size: 15px;
            padding-left: 3px;
          }
        }
      }
    }
  }
}
.footer{
  text-align: center;
  background-color: #040507;
  &__btn{
    margin: 0 auto;
    padding-top: 15px;
  }
  &__info{
    padding-top: 25px;
    padding-bottom: 25px;
    &-data{
      padding-left: 10px;
      font-weight: 500;
      font-size: 20px;
      cursor: pointer;
    }
  }
  &__line{
    width: 519px;
    height: 1px;
    border: 1.54925px solid #303341;
    margin: 0 auto;
  }
  &__social{
    padding-top:20px;
    &-icon{
      margin-right: 7px;
      background-color: #fff;
      border-radius: 30px;
      font-size: 15px;
      padding: 2px;
      cursor: pointer;
      height: 30px;
      margin-bottom: 20px;
    }
  }
  &__text{
    font-weight: normal;
    font-size: 16px;
    color: #646464;
    width: 420px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__user{
    margin-top: 20px;
    margin-bottom: 20px;
    color: $orange;
    font-size: 16px;
    cursor: pointer;
  }
}
.comment{
  &-add-form{
    padding-top: 50px;
    display: flex;
    padding-bottom: 50px;
    position: relative;
    &__avatar{
      width: 48px;
      height: 48px;
      border-radius: 30px;
      position: absolute;
      top: 40%;
      left: 3%;
    }
    &__input{
      width: 60%;
      height: 144px;
      background: #FFFFFF;
      border-radius: 8px;
      border: none;
      font-weight: normal;
      font-size: 18px;
      padding-left: 80px;
    }
    &__btn{
      position: absolute;
      height: max-content;
      text-align: center;
      right: 35%;
      top: 40%;
      font-weight: 600;
      font-size: 14px;
      color: $sidebarColor;
      border: none;
      background-color: $orange;
      padding: 15px 10px 15px 10px;
      width: min-content;
    }

  }
  &-list{
    &-item{
      display: flex;
      padding-top: 15px;
      &__line{
        width: 70%;
        height: 1px;
        background: #000000;
        opacity: 0.1;
      }
      &__img{
        width: 48px;
        height: 48px;
        border-radius: 30px;
        margin-right: 10px;
      }
      &__content{
        &-head{
          &-name{
            font-weight: 500;
            font-size: 20px;
            font-weight: 600;
            cursor: pointer;
          }
          &-count{
            font-size: 14px;
            background: #00C491;
            border-radius: 30px;
            color: #F2F2F2;
            height: fit-content;
            margin: 5px;
            padding: 3px;
            margin-left: 15px;
            margin-right: 15px;
            font-weight: 500;
          }
          &-date{
            font-weight: 500;
            font-size: 14px;
            color: #3C3E47;
          }
        }
        &-text{
          font-size: 16px;
          color: #3C3E47;         
          width: 65%;
        }
        &-answer{
          padding-bottom: 10px;
          &-answr{
            font-weight: 500;
            font-size: 16px;
            color: $orange;
            padding-left: 4px;
            padding-right: 35px;
            cursor: pointer;
          }
          &-like{
            cursor: pointer;
          }
          &-count{
            font-weight: 600;
            font-size: 18px;
            color: #00C491;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
  background-color: #F2F2F2;
  padding-top: 25px;
  margin-top: 30px;
  padding-left: 145px;
  &__head{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    &-counts{
      font-size: 28px;
      font-weight: 600;
      &-number{
        color: $orange;
      }
    }
  }
  &__btn{
    color: black;
    text-align: center;
    font-weight: 600;
  }
}
.more{
  padding-top: 40px;
  &__title{
    font-weight: 600;
    font-size: 27px;
    padding-top: 15px;
  }
  &-list{
    padding-top: 15px;
    padding-bottom: 50px;
    display: flex;
    &-item{
      background-color: #F2F2F2;
      border-radius: 10px;
      padding: 15px;
      width: min-content;
      margin-right: 15px;
      cursor: pointer;
      &__img{
        width: 195px;
        height: 155px;
        border-radius: 6px;
      }
      &__cat{
        display: block;
        padding-top: 15px;
        font-weight: 600;
        font-size: 15px;
        color: #3C3E47;
      }
      &__title{
        font-weight: 500;
        font-size: 18px;
      }
      &__comment{
        cursor: pointer;
        &-title{
          font-weight: 500;
          font-size: 16px;
          color: $orange;
          padding-left: 2px;
        }
      }
    }
  }
}
.search{
  &__back{
    width: fit-content;
    padding-left: 15px;
    cursor: pointer;
    &-text{
      font-size: 17px;
      line-height: 20px;
      color: #F2F2F2;
      padding-left: 6px;
    }
  }
  &__content{
    text-align: center;
    &-tags{
      display: flex;
      margin-left: 28%;
      &-tag{
        &-count{
          background-color: #252936;
          border-radius: 50px;
          color: #F2F2F2;
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          margin-left: 10%;
          padding: 5px 10px 5px 10px;
        }
        &-item{
          font-size: 16px;
          line-height: 18px;
          color: $orange;
          margin-left: 5px;
        }
      }
    }
    &-head{
      padding-bottom: 20px;
      &-icon{
        position: absolute;
        top: 8%;
        left: 30%;
      }
      &-input{
        background: rgba(255, 255, 255, 0.19);
        position: relative;
        border-radius: 10px;
        font-size: 19px;
        color: #F2F2F2;
        width: 535px;
        height: 40px;
        border: none;
        padding: 1px 2px 3px 45px;
        &-icon{
          position: absolute;
          border: 1.5px solid #EB752B;
          border-radius: 10px;
          padding: 10px;
          margin-left: 15px;
        }
      }
    }
  }
}
.rec-arrow-left{
  display: none !important;
}
.rec-arrow-right{
  display: none;
}
.filter{
  padding-top:30px;
  &__title{
    margin-right: 20%;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
  }
  &__btn{
    margin: 0 auto;
    margin-top: 30px;
    background-color: $orange;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #10121B;
    width: 38%;
  }
  &__cat{
    
    border: 1px solid #2B3038;
    border-radius: 10px;
    cursor: pointer;
    width: max-content;
    margin-top: 20px !important;
    margin-bottom: -10px !important;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    &-params{
      border-bottom:1px solid #2B3038;
      margin-top: 10px;
      margin-bottom: 5px;
      text-align: left;
      padding-bottom: 5px;
      &-cont{
        width: 20px !important;
        padding-right: 70%;
        display: contents;
      }
      &-name{
        font-size: 17px;
        color: #3C3E47;
        padding-left: 10px;        
      }
    }
    &-name{
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      padding-left:10px;
    }
    &-count{
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $orange;
      padding-left: 3px;
      padding-right: 420px;
    }
    &-icon{
      padding-right: 10px;
    }
  }
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  bottom: 0px;
  right: 1%;
  height: 20px;
  width: 20px;
  background-color: $bodyColor;
  border: 1px solid #CAD4DF;
  border-radius: 5px;
}

.container:hover input ~ .checkmark {
  background-color:#CAD4DF;
}

.container input:checked ~ .checkmark {
  background-color: $bodyColor;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $orange;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}